<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/bootstrapStyle.ejs")%>
        <link rel="stylesheet" href="/styles/adminProducts.css">
        <link rel="stylesheet" href="/styles/adminMainSection.css">
        <title>Admin</title>
</head>

<body style="background-color: #f6f7fb
;">
    <%- include("../layouts/headerAndFooter/adminPanelHeader.ejs")%>

        <main>
          <section class="container-md">
                <section class="important-info-section">
                    Важна информация
                    <section class="important-info">
                        <ul>
                            <li>Снимките трябва да са написани на латинеца</li>
                           
                        </ul>

                    </section>
                </section>
                <section class="">
                    <h2 class="text-info">За промоциите</h2>
                    <ul>
                        <li>Преди да поръча продукти. За даденият акаунт да има промоция трябва ПЪРВО да се е логнал в акаунта си</li>
                        <li>Как се слага промоция на акаунт?</li>
                        <ol>
                            <li>Цъкнете бургера</li>
                            <li><a href="/admin/users">Потребители</a></li>
                            <li>Изберете потребителя</li>
                            <li>Редактирай</li>
                            <li>Добави права</li>
                            <li>Добави промоции</li>
                            <li>След като изберете желаните от вас промоции цъкнете "Добави промоции/я"</li>
                        </ol>
                    </ul>
                </section>
          </section>

        </main>

</body>
<%- include("../layouts/bootstrapScripts.ejs")%>
    <%- include("../layouts/headerAndFooter/adminPanelScripts.ejs") %>
  <%- include("../layouts/headerAndFooter/adminPanelHeaderFunc.js")%>
</html>