<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/bootstrapStyle.ejs")%>
        <link rel="stylesheet" href="/styles/adminProducts.css">
        <link rel="stylesheet" href="/styles/adminMainSection.css">
        <title>Admin</title>
</head>

<body style="background-color: #f6f7fb
;">
    <%- include("../layouts/headerAndFooter/adminPanelHeader.ejs")%>

        <main>
          <section class="container-md">
                <section class="important-info-section">
                    Важна информация
                    <section class="important-info">
                        <ul>
                            <li>Снимките трябва да са написани на латинеца</li>
                        </ul>
                    </section>
                </section>
          </section>

        </main>

</body>
<%- include("../layouts/bootstrapScripts.ejs")%>
    <%- include("../layouts/headerAndFooter/adminPanelScripts.ejs") %>
  <%- include("../layouts/headerAndFooter/adminPanelHeaderFunc.js")%>
</html>