<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/bootstrapStyle.ejs")%>
        <!-- Style for nav and footer -->
        <link rel="stylesheet" href="/styles/navAndFooter.css" />
        <!-- Google fonts Roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <!-- User stylesheet -->
        <link rel="stylesheet" href="../styles/user.css">
        <!-- hamburger -->
        <link rel="stylesheet" href="../styles/hamburger.css">
        <!-- Main style sheet for contenct-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <title>Sofoffice регистрация</title>
</head>

<body>
    <%- include("../layouts/headerAndFooter/header.ejs") %>
        <main>
            <section class="d-flex justify-content-center align-items-center flex-column">
                <div class="container loginContainer py-5" data-aos="zoom-out-down" data-aos-duration="1000">
                    <div class="">
                        <div class="text-center text-danger">
                        <% if (error) {%>
                            <%console.log(error)%>
                            <%= error%>
                                <% } %>
                            </div>
                        <h3 class="text-center">Регистрация</h1>
                            <form action="/account/register" method="Post">

                                <div class="d-flex flex-column justify-content-center align-items-center ">
                                    <div
                                        class="form-group d-flex flex-column justify-content-center align-items-start py-2">
                                        <input type="text" class="" id="name" name="name" required
                                            placeholder="&#61447; Пълно име">
                                        <label for="text">
                                        </label>

                                    </div>
                                    <div
                                        class="form-group d-flex flex-column justify-content-center align-items-start py-2">
                                        <input type="email" class="" id="email" name="email" required
                                            placeholder="&#xf0e0; И-мейл">
                                        <label for="email">
                                        </label>

                                    </div>
                                    <div
                                        class="form-group d-flex flex-column justify-content-center align-items-start py-2">

                                        <input type="password" class="" id="password" name="password" required
                                            placeholder="&#xf023; Парола">
                                        <label for="password">
                                        </label>
                                        <div class="passwordStrenght d-none">
                                        </div>
                                    </div>
                                    <button type="submit" class="loginBtn btn disabled" disabled>Регистрирай ме</button>
                                </div>
                            </form>
                    </div>
                    <div class="forRegisterText d-flex justify-content-center align-items-center py-5">
                        <div class="d-flex text-center align-self-center w-100 register-text">
                            <p class="">
                                Ако вече имате акаунт, можете да настинете бутона и да влезнете в акаунта си.
                                <a href="login" class="otherSection">Вход</a>
                            </p>
                        </div>

                    </div>

                </div>
            </section>

        </main>
        <%- include('../layouts/headerAndFooter/footer.ejs') %>

</body>


<!-- Js bootstrap -->
<%- include('../layouts/bootstrapScripts.ejs')%>

    <!-- Custom js -->

    <script src="../scripts/index.js"></script>
    <script src="../scripts/hamburger.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- Custom js -->
    <script>
        AOS.init();
    </script>
    <script>
        $("#password").keyup(function(){
            const showIsValidCont = $(".passwordStrenght")
            const showIsValidUl = showIsValidCont
            
            const registerBtn = $(".loginBtn")
            // invalidInput
            // 5 characters atleast
            const itemVal = $(this).val()
            const wrongInputs = {
                fiveChar: "Пет символа",
                upperCase: "Една главна буква",
                number: "Едно число"
            }
            const isValid ={
                fiveChar: false,
                upperCase: false,
                number: false,
            }

            if(itemVal.length >=5){
                isValid.fiveChar = true
            }
            if(/\d/.test(itemVal)){
                isValid.number = true
            }
            if(/[A-Z]/.test(itemVal)){
                isValid.upperCase = true;
            }
            if(isValid.fiveChar && isValid.upperCase && isValid.number){
                registerBtn.removeClass("disabled")
                registerBtn.removeAttr("disabled")
                $(this).removeClass("invalidInput")
                $(".passwordStrenght").addClass("d-none")
            }else{
                $(".passwordStrenght").removeClass("d-none")

                registerBtn.addClass("disabled")
                registerBtn.attr("disabled")
                $(this).addClass("invalidInput")
                showIsValidUl.empty()
                if(!isValid.fiveChar){
                    showIsValidUl.append(`<li class="fiveChar">${wrongInputs.fiveChar}</li>`)
                }
                if(!isValid.upperCase){
                    showIsValidUl.append(`<li class="fiveChar">${wrongInputs.upperCase}</li>`)
                }
                if(!isValid.number){
                    showIsValidUl.append(`<li class="fiveChar">${wrongInputs.number}</li>`)
                }
            }
            
        })
    </script>
</html>