<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../layouts/bootstrapStyle.ejs")%>
    <link rel="stylesheet" href="/styles/adminProducts.css" />
    <link rel="stylesheet" href="/styles/mainProducts.css" />
    <title>Admin Products</title>
  </head>

  <body>
    <%- include("../../layouts/headerAndFooter/adminPanelHeader.ejs")%>

    <main>
      <!-- Here are showed collections -->
      <section class="container d-flex flex-column">
          
        <section class="buttons my-2 d-flex justify-content-between">
            <div>
                <a href="/admin/users/<%=user._id%>/edit" class="btn btn-dark text-light">Назад</a>
              </div>
       
        </section>

        <section class="productsItems p-5">
          <div class="d-flex justify-content-center">
            <a class="btn btn-success" href="/admin/users/<%=user._id%>/addPromotions">Добави промоции</a>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-info text-light disabled" href="/admin/users/<%=user._id%>/addPromotions">Добави админ</a>
          </div>
          
        </section>
      </section>
     
    </main>
  </body>
  <%- include("../../layouts/bootstrapScripts.ejs")%> 
  <%- include("../../layouts/headerAndFooter/adminPanelScripts.ejs") %>

  <script>

  </script>
  <%- include("../../layouts/headerAndFooter/adminPanelHeaderFunc.js")%>

</html>
