<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../../layouts/bootstrapStyle.ejs")%>
    <link rel="stylesheet" href="/styles/adminProducts.css" />
    <link rel="stylesheet" href="/styles/mainProducts.css" />
    <title>Admin Products</title>
  </head>

  <body>
    <%- include("../../layouts/headerAndFooter/adminPanelHeader.ejs")%>

    <main>
      <!-- Here are showed collections -->
      <section class="container d-flex flex-column">
        <section class="buttons my-2">
          <div class="d-flex justify-content-end">
            <!-- <a href="/admin/products/createProduct" class="btn btn-info text-light">НОВ ПРОДУКТ</a> -->
          </div>
        </section>

        <section class="productsItems">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" >Имейл</th>
                <th scope="col">Име</th>
                <th scope="col">Роля</th>
                <th scope="col">Потвърден</th>
                <th scope="col" class="text-center">Премахни</th>
              </tr>
            </thead>
            <tbody >
            
              <%users.forEach((item,index)=>{%>
                  <tr class="tableRow" id="<%=item._id%>">
                    <th scope="row">
                      <%=index%>
                    </th>
                    <td><%=item.email%></td>
                    <td><%=item.username%></td>
                    <td><%=item.role%></td>
                    <td><%=item.isVerifed? "Да" : "Не"%></td>
                   
                    <td class="text-center">
                      <a href="#" class="removeItem"><i class="fas fa-trash-alt"></i></a>
                  </td>
                  </tr>
              
              <%})%>
       
            
            </tbody>
          </table>
        </section>
      </section>
     
    </main>
  </body>
  <%- include("../../layouts/bootstrapScripts.ejs")%> 
  <%- include("../../layouts/headerAndFooter/adminPanelScripts.ejs") %>

  <script>
    $(document).ready(() => {
      $(".tableRow")
      $(".tableRow").click(function(){
        const itemId = $(this).attr("id")
        window.location = `/admin/users/${itemId}/show`
      })
     
    });
  </script>
  <%- include("../../layouts/headerAndFooter/adminPanelHeaderFunc.js")%>

</html>
